.root {
    position: fixed;
    z-index: 213;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.tags {
    width: 70%;
    overflow: scroll;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding-bottom: 35px;
}
.name {
    margin-top: 20px;
    height: 35px;
    padding-left: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 35px;
}
.child {
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}
.tag{
    box-sizing: border-box;
    display: inline-block;
    margin: 0 0 20px 20px;
    border: 1px solid #a062d4;
    color:white;
    padding: 0 10px;
    height: 30px;
    color: #333;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border-radius: 6px;
    background-color: #fff;
}
.tagActive {
    background-color: rgba(163, 116, 202, 0.3);
    color:white;
}
.buttons {
    width: 70%;
    position: absolute;
    right: 0;
    bottom: 0;
}